body{
    background-image: url("../assets/images/background.jpeg");
    font-family: "Montserrat", sans-serif;
    color: gray;

}
h1 {
    text-align: center;
}

img {
    margin: 20px;
    border: black 2px solid;
    border-radius: 20px;
    width: 90%;
    height: 70%;
}


.contact-container ul{
    margin: 0 43%;
}

.contact-links:first-child{
    margin-left: 45%;
}


.contact-links {
    color: white;
    height: 150%;
    list-style: none;
    margin-right: 50px;
    float: left;
}
